.creator_container{
    transition: all .2s;
    background-color: #262425;
    width: 1.5rem;
    height: 1.5rem;
    border:2px solid #fff9f9;
    border-radius: 50%;
    list-style: none;
    margin-right: 8px;
}
.creator_container:hover{
    transform: scale(.83);
}
.creator_container:active{
    background-color: #ff8f8f;
}
.socialmedia_icon{
    /* margin-left: 2px;
    margin-top: 0; */
    width: 1.5rem;
}
.icon_container{
    justify-content:flex-start;
    display: flex;
    margin-top: -1.3rem;
    margin-left: -8px;
}

.whatsapp{
    width: 7.5rem;
    margin-left: 2rem;
    margin-top: -.7rem;
}
.call{
    width: 7.5rem;
    margin-left: 4px;
    margin-top: -.7rem;
}
.creator_cancel{
    transition: all .2s;
    background-color: #262425;
    width: 1.2rem;
    height: 1.2rem;
    /* border:2px solid #fff9f9; */
    border: none;
    border-radius: 50%;
    list-style: none;
    margin-right: 8px;
    margin-left: 7rem;
}
@keyframes circle{
    from{
        transform: scale(1.3) rotate(0);
    }
    to{
        transform: scale(1.3) rotate(360deg);
    }
} 
.cancel_icon{
    margin-left: 3px;
    margin-top: 3px;
    width: .86rem;
    transition:all .17s;
    cursor: pointer;
}
.cancel_icon:hover{
    animation-name: circle;
    animation-duration: 1s;
}
.cancel_icon:active{
    transform: scale(.3);
}
@media only screen and (max-width : 995px){
    .main_container{
        margin-top: -3rem;
    }
}
