.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_small{
    width: 3rem;
    margin-left: 9rem;
    margin-right: 1rem;
}

.securelog{
    width: 7rem;
    margin-right: 9rem;
}
@media only screen and (max-width : 995px){
    .heading{
        font-size: .8rem;
        margin-left: -6px;
        margin-right: 2px;
    }
    .logo_small{
        margin-left: .8rem;
        width: 1.5rem;
        margin-right: .3rem;
    }
    .securelog{
        width: 4rem;
        margin-right: 1rem;
    }
}
