.container {
  display: flex;
  justify-content: center;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 2rem;
  width: 4.9rem;
  height: 2.5rem;
  border-radius: 4%;
}
.Link {
  border-bottom: 3px solid rgba(0,0,0,0);
  font-weight: 500;
  transition: all 0.17s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 2rem;
  color: #262425;
  text-decoration: none;
  transition: .2s all;
}
.Link:hover {
  background-color: #ffd5d5;
  border-bottom: 3px solid #262425;
}
.activePageLink {
  border-bottom: 3px solid #ffd5d5;
}
@media only screen and (max-width: 995px) {
  .Link {
    width: 5rem;
    height: 2.5rem;
    font-size: 1.1rem;
  }
  .list {
    margin-left: 5px;
    margin-right: 8px;
  }
  .container {
    padding-left: 0;
  }
}
